VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_CONTRACT_ID=CDVBVFHHBKV2NKOLMM3BCHJQTEIFBXJZ2DMH7SMT22RI3W3GHZJOBM62
VITE_USDC_ISSUER=<testnet_usdc_issuer>
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
